{% autoescape false %}
Bonjour {{ student.firstName }} {{ student.name }},

Vous venez de vous inscrire sur la plateforme étudiante de l'USEC ({{ path('homepage') }}), merci !


Voici les détails de votre inscription :

--  Coordonnées  --
Prénom              : {{ student.firstName }}
Nom                 : {{ student.name }}
Email               : {{ student.email }}
Login UTC           : {{ student.username }}
Téléphone           : {{ student.phone }}
Branche             : {{ student.course }}
Semestre de sortie  : {{ student.endCourseSemester }}
Mailing-list		: {% if student.subscribedToEmails %}oui{% else %}non{% endif %}

--  Compétences  --
{{ student.skills }}

-- Intéressé par --
{{ student.interestedIn }}

--  Motivations  --
{{ student.motivation }}


Vous pouvez à tout moment modifier vos informations <a href="{{ path('subscription_form') }}" target="_blank">sur votre profil consultant</a href="{{ path('studies_available') }}" target="_blank"> et aller <a>consulter les études disponibles</a>.


Cordialement,
L'USEC.
_______________________________________________________
Cet email a été édité automatiquement par etu.usec-utc.
{% endautoescape %}