{% extends 'USECStudentBundle:Default:layout.html.twig' %}

{% block title %}
{% if not user.registered %}S'inscrire comme consultant{% else %}Modifier mon profil{% endif %}
{% endblock %}

{% block content %}
<div class="row-fluid">
	{% if statusPost %}
	<div class="span6 offset3">
		{% if statusPost.success %}
			<div class="alert alert-success">
				<p>
				{% if statusPost.isNew %}
					Merci pour votre inscription !
				{% else %}
					Votre profil a bien été mise à jour.
				{% endif %}
				</p>
			</div>
			<br/><br/>
			<p class="lead">
				Et maintenant ?<br/><br/>
				Nous vous invitons à jeter un coup d'oeil <a href="{{ path('studies_available') }}">du côté des études disponibles</a>, ou bien à retourner <a href="{{ path('homepage') }}">à la page d'accueil</a>.
			</p>
		{% else %}
			<div class="alert alert-error">
				<p>
				Une erreur est apparue durant la soumission du formulaire. Vous pouvez réessayer ou <a href="mailto:{{ emailUsecDsi }}?subject=Erreur dans le formulaire consultant">avertir la DSI de l'USEC</a> si le problème persiste.
				</p>
			</div>
		{% endif %}
	</div>
	{% endif %}
	<div class="span6 offset3">
		<h1>Votre profil consultant</h1>
		<form action="{{ path('subscription_process') }}" method="post" id="subscriptionForm" class="form-horizontal">
		    <h4>Informations de contact :</h4>
		    <div class="control-group">
		        <label class="control-label" for="form-first-name">Prénom :</label>
		        <div class="controls">
		            <input type="text" name="firstName" id="form-first-name" required value="{{ user.firstName }}">
		        </div>
		    </div>
		    <div class="control-group">
		        <label class="control-label" for="form-name">Nom :</label>
		        <div class="controls">
		            <input type="text" name="name" id="form-name" required value="{{ user.name }}">
		        </div>
		    </div>
		    <div class="control-group">
		        <label class="control-label" for="form-login-utc">Login UTC :</label>
		        <div class="controls">
		            <input type="text" name="loginUtc" id="form-login-utc" required disabled value="{{ user.username }}" >
		        </div>
		    </div>
		    <div class="control-group">
		        <label class="control-label" for="form-email">Email :</label>
		        <div class="controls">
		            <input type="email" name="email" id="form-email" required value="{{ user.email }}">
		        </div>
		    </div>
		    <div class="control-group">
		        <label class="control-label" for="form-phone">Téléphone mobile :</label>
		        <div class="controls">
		            <input type="text" name="phone" id="form-phone" required value="{{ user.phone }}">
		        </div>
		    </div>
		    <div class="control-group">
	            <label class="control-label" for="form-apprenti">Apprenti(e) ?</label>
	            <div class="controls">
	                <input type="checkbox" name="apprenti" id="form-apprenti" unchecked>
	            </div>
	        </div>
	        <div class="alert alert-error" id="form-apprenti-error" style="display:none;">Nous sommes désolés, mais les apprentis ne peuvent pas réaliser d'études.</div>
		    <h4>Profil :</h4>
		    <div class="control-group">
		        <label class="control-label" for="form-course">Cursus suivi :</label>
		        <div class="controls">
		            <select name="course" id="form-course">
		              {% for course in listCourses %}
		                <option value="{{ course }}" {% if user.course == course %}selected{% endif %}>{{ course }}</option>
		              {% endfor %}
		            </select>
		          </div>
		        </div>
		        <div class="control-group">
		        <label class="control-label" for="form-semester-oututc">Semestre de sortie :</label>
		        <div class="controls">
		            <select name="endCourseSemester" id="form-semester-oututc">
		              {% for nextSemester in nextSemesters %}
		                <option value="{{ nextSemester }}" {% if user.endCourseSemester == nextSemester %}selected{% endif %}>{{ nextSemester }}</option>
		              {% endfor %}
		            </select>
		        </div>
		        </div>
		    <h4>Motivations :</h4>
		    <div class="control-group">
		        <label class="control-label" for="form-motivation">Qu'est-ce qui vous motive à devenir consultant à l'USEC ?</label>
		        <div class="controls">
		            <textarea name="motivation" id="form-motivation" rows="3" cols="50" required>{{ user.motivation }}</textarea>
		        </div>
		    </div>
		    <div class="control-group">
		        <label class="control-label" for="form-interested-in">Sur quels types d'étude souhaitez-vous travailler de préférence ?</label>
		        <div class="controls">
		            <textarea name="interestedIn" id="form-interested-in" rows="3" cols="50">{{ user.interestedIn }}</textarea>
		        </div>
		    </div>
		    <div class="control-group">
		        <label class="control-label" for="form-skills">Quelles sont vos compétences mobilisables pour une étude ?</label>
		        <div class="controls">
		            <textarea name="skills" id="form-skills" rows="3" cols="50">{{ user.skills }}</textarea>
		        </div>
		    </div>
			<h4>Mailing-list :</h4>
			<div class="control-group">
		        <div class="controls">
		        	<input type="checkbox" name="subscribedToEmails" 
		        		{% if not user.registered or user.subscribedtoemails %}checked{% endif %}> Je souhaite recevoir les opportunités d'étude
		        </div>
		    </div>
		    <div class="form-actions">
				<input  type="submit" class="btn btn-primary" id="subscription-btn-submit" value="{% if not user.registered %}Valider l'inscription{% else %}Modifier mes informations{% endif %}" />
				<a class="btn" href="{{ path('homepage') }}">Retour</a>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#form-apprenti').on('change',function(event){
        if($(this).is(':checked')){
            $('#form-apprenti-error').show();
        }else{
            $('#form-apprenti-error').hide();
        }
   });
});
</script>
{% endblock %}
